<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Field Notebook</title>
	<link rel="stylesheet" type="text/css" href="{% static 'notebook/style.css' %}"/>
	<meta charset="UTF-8">	 
</head>
<body>

<header>
<h1 class="notebook_heading">Digital Field Notebook</h1>
<nav>
<a href = "/notebook/">Home</a>
<a href = "/notebook/guide/objects/">Objects</a>
<a href = "/notebook/guide/creators/">Creators</a>
<a href = "/notebook/guide/places/">Places</a>
</nav>
</header>


<div class="container">
{% block content %}

<div class="intro">
<p class="intro_text">Welcome to your virtual field notebook.</p>
<p class="intro_text">Personalize this cover page as you like!</p>
</div>

{% endblock %}
</div>

</body>
</html>